*~
*.pyc

react-sand/bower_components/

hoodie-sand/node_modules/
hoodie-sand/www/bower_components/
hoodie-sand/data/

hoodie-react/node_modules/
hoodie-react/www/bower_components/
hoodie-react/data/
