{% extends "base.html" %}

{% block content %}
<h1>set job status</h1>
<h3>{{job.title}} - {{job.company}}</h3>
<p>{{job.description}}</p>
<a href="{{url_for('crud.edit_job', job_id=job.id)}}">edit</a>
<form method="post">
    <div>
        <label>status</label>
        <select name="status">
        {% for status in statuses %}
        <option value="{{status.value}}"
                {% if status.selected %}
                selected="true"
                {% endif %}>
            {{status.view_string}}
            </option>
        {% endfor %}
        </select>
    </div>
    <button>Submit</button>
</form>
{% endblock %}

