{% extends "base.html" %}

{% block content %}
<h1>set job status</h1>
<form>
    <div>
        <label>status</label>
        <select name="status">
            <option value="new">new</option>
            <option value="applied">applied</option>
            <option value="init-int">initial interviews</option>
            <option value="tech-int">technical interviews</option>
            <option value="add-int">additional interviews</option>
            <option value="reject">rejected</option>
            <option value="offer">offer letter</option>
        </select>
    </div>
</form>
{% endblock %}

